body {
  margin: 0;
  background-color: rgba(21, 36, 61,.04);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Styling button for whole page. */
.orange-button{
  padding: 10px;
  text-decoration-style: none;
  color: white;
  background-image: linear-gradient(to right, red,orange); 
  margin:40px 15px;
  width: 160px;
  text-decoration: none;
  margin-bottom: 100px;
}

.navbar{
  box-shadow: 0 0 8px rgb(100, 100, 100);
}

.error{
  color: red;
  font-size: 13px;
}

/* Loader page design. */
.loader-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 1031;
  background-color: aliceblue;
  top: 0;
  left: 0;
  padding: 20%;
  text-align: center;
}

.loader-page > p{
  padding: 15px;
}

.loader-icon{
  height: 120px;
  width: 120px;
  border-right:10px solid blue;
  animation: loader 1s  linear infinite;
  border-radius: 50%;
  align-self: center;
}

@keyframes loader {
  0%{
    
  }
  100%{
    transform: rotate(360deg)
  }
}