body {
  margin: 0;
  background-color: rgba(21, 36, 61,.04);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Styling button for whole page. */
.orange-button{
  padding: 10px;
  text-decoration-style: none;
  color: white;
  background-image: linear-gradient(to right, red,orange); 
  margin:40px 15px;
  width: 160px;
  text-decoration: none;
  margin-bottom: 100px;
}

.navbar{
  box-shadow: 0 0 8px rgb(100, 100, 100);
}

.error{
  color: red;
  font-size: 13px;
}