/* Navbar styling */
.navbar{
    height: 6rem;
    background-color: white;
    padding: auto 20px;
}


.fa-book-reader{
    font-size: 0.4in;
    padding-right: 5px;
    margin-bottom: 15px;
    line-height: 63px;
}

.navbar-brand > span {
    font-weight: bold;
}

.display-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rainbow, .nav-link:hover{
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.navbar-collapse{
    background-color: white;
}

.logout-menu{
    cursor: pointer;
    margin-right: 20px;
    line-height: 40px;
}