.auth-form-box{
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.425);
    width: 500px;
    background-color: rgba(0, 72, 121, 0.44);
    padding: 20px;
    color: white;
    margin: 20px auto;
}

.auth-forms{
    margin-top: 40px;
}